* {
    box-sizing: border-box;
}
header {
    background-color: aqua;
}

h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
}
h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    padding-top: 1rem;
}

ol {
    list-style-position: inside;
    list-style: decimal;
    padding: 1rem;
}